/*TODO:
- On hover of section, have a different button on nav bar highlighted
- On hover of section, have the background change
- Fix the top portion empty space or fill it with something!
- Question why this does not work (multiple)
- Help clip onto sections, one at a time
*/
:root {
  /* Theme for website*/
  --backgroundCol1a: #333333;
  --backgroundCol1b: #2C494B;
  --backgroundCol2a: #265F63;
  --backgroundCol2b: #1F757B;
  --backgroundCol3a: #11A1AA;
  --backgroundCol3b: #04CDDA;
  --fontCol1: white;
  --highlightCol1: #0bd050;
  --highlightCol2: #357eec;
  --clickCol1: skyblue;
}
html { scroll-behavior: smooth}
h1, h2, h3, h4, h5, h6{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
h1, h2{
  font-family: 'Eczar', serif;
} 
/* font-size: 43px; */
h3, h4, h5, h6{
  font-family: 'Merriweather', serif;
}
/* font-size: 14px; */

/*TABLE OF CONTENTS

SETUP Viewable Page: 29
Navigation Stuff 64
Links inside the Nav Bar 100
Project Section 
Project Slideshow
Project Card Information 261


*/

/*SETUP Viewable Page*/
/*************************************************************************************************************************/
.alignLeftAndRight{
  display:flex;
  flex-direction: row;
}

.alignUpAndDown{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#currentPage {

  padding: 0 0 0 0;
  margin-top: 0;
  flex-wrap: wrap;
  margin-left:20%;
  max-width: 100%;
  background-image: linear-gradient(var(--backgroundCol1a),var(--backgroundCol1a), var(--backgroundCol2a),var(--backgroundCol3a));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (min-width: 700px){
  #currentPage {
    margin-left:17ch;  
  }
}


@media screen and (min-height: 400px){/*WHY DOES THIS NOT WORK?!*/
  #nav{
    background-color: yellow;
    padding: 0 0 0 0;  
  }
}


/*Navigation Stuff*/
/*******************************************************************************************************/
nav {
  overflow: hidden;
  background-image: linear-gradient(var(--backgroundCol1a),var(--backgroundCol1a), var(--backgroundCol2b),var(--backgroundCol3b));
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 20%; /* Partial */
  max-width: 17ch;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 3px groove var(--fontCol1);
}
.navSplit{
  background-color: red;
  text-decoration: line-through;
  text-decoration-color: maroon;
}
.navSplit:hover{
  background-color: maroon;
  color: black;
}


/* Links inside the navbar */
/****************************************************************************************************************/
nav a {
  height:12%;
  display: flex;
  flex-direction: column;
  color: var(--fontCol1);
  text-align: center;
  padding: 6vh 0 0 0 ;
  text-decoration: none;
  justify-content: space-between; 
}

/* Change background on mouse-over */
nav a:hover {
  text-shadow: 2px 2px 6px var(--highlightCol2);
  color: var(--fontCol1);
  transition: .5s;
  font-size: 110%;
}

nav a:active{
  transition-timing-function: ease-out;
  
  color: var(--backgroundCol1a);
  font-size: 1.3em;
  text-shadow: 0 0 3px var(--clickCol1)
}


section.pageSection {
  height: 100vh;
  box-sizing: border-box;
  min-height: fit-content;
  color: var(--fontCol1);
}

.section-container {
  display: flex;
}


/*PROJECTS SECTION*/
/***********************************************************************************************************************/
#projects{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#displayProjects{
  display: flex;
  justify-content: center;
}
#populateProjectsHere{
  display: flex;
  justify-content: center;
}

/*PROJECT SLIDESHOW*/
/***************************************************************************************************************/

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
.projImg {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--fontCol1);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */


.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  text-shadow: 2px 2px 6px var(--highlightCol2); /*TODO IS CHANGE THIS COLOR*/
}

.prev:active, .next:active{
  transition-timing-function: ease-out;
  color: var(--backgroundCol1a);
  font-size: 1.25em;
  text-shadow: 0 0 3px var(--clickCol1)
}

/* Caption text 
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
*/

/* Number text (1/3 etc) 
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--backgroundCol2a);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease
}

.dot:hover {
    text-shadow: 2px 2px 60px var(--highlightCol2); /*TODO IS CHANGE THIS COLOR*/
 
}

.active {
  background-color: var(--backgroundCol3b);
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



/*PROJECT CARD INFORMATION*/
/***************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');



.container { /*TODO: FIX CARD CONTAINER SIZES*/
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 15px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: hidden;
  min-width: 350px;
  width: 1000px;
  max-width: 78%;
  height: 100%;

  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  
}

.wrapper {
  width: 100%;
  height: 100%;
  
}

img.projImg {
  object-fit: contain;
  background-color: var(--backgroundCol1b) 0.5;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 70%;
  max-height: 50vh;
  max-width: 700px;
}


p.cardDetails {
  color: var(--fontCol1);
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* 
.button-wrapper{
  margin-top: 18px;
} */

.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;  
  letter-spacing: 2px;  
  cursor: pointer;
}

.btn + .btn {
  margin-left: 10px;
}

.outline {
  background: transparent;
  color: var(--backgroundCol3b);
  border: 1px solid var(--backgroundCol3a);
  transition: all .3s ease;
  
}

.outline:hover{
  transform: scale(1.125);
  color: var--(--fontCol1);
  border-color: var(--fontCol1);
  transition: all .3s ease;  
}

.fill {
  background: var(--backgroundCol3a);
  color: var(--fontCol1);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease; 
}

.fill:hover{
  transform: scale(1.125);  
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
  transition: all .3s ease;    
}
