/*TODO:
- On hover of section, have a different button on nav bar highlighted
- On hover of section, have the background change
- Fix the top portion empty space or fill it with something!
- Question why this does not work (multiple)
*/
:root {
  /* Theme for website*/
  --backgroundCol1: #333333;
  --backgroundCol2: #2C494B;
  --backgroundCol3: #265F63;
  --backgroundCol4: #1F757B;
  --backgroundCol5: #11A1AA;
  --backgroundCol6: #04CDDA;
  --fontCol1: white;
  --highlightCol1: navy;
  --clickCol1: skyblue;
}
html { scroll-behavior: smooth}


img {
  animation: mymove 7s infinite;
}

@keyframes mymove {
  50% {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
  }
}

/*SETUP Viewable Page*/
#currentPage {
  padding: 0 0 0 0;
  margin-top: 0;
  flex-wrap: wrap;
  margin-left:20%;
  max-width: 100%;
  background-image: linear-gradient(var(--backgroundCol1),var(--backgroundCol1), var(--backgroundCol2),var(--backgroundCol3));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (min-width: 700px){
  #currentPage {
    margin-left:17ch;  
  }
}


@media screen and (min-height: 400px){/*WHY DOES THIS NOT WORK?!*/
  #nav{
    background-color: yellow;
    padding: 0 0 0 0;  
  }
}


nav {
  overflow: hidden;
  background-image: linear-gradient(var(--backgroundCol1),var(--backgroundCol1), var(--backgroundCol4),var(--backgroundCol6));
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 20%; /* Partial */
  max-width: 17ch;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* 
#homeLink{
  background-color: red;
} */

.navSplit{
  background-color: red;
  text-decoration: line-through;
  text-decoration-color: maroon;
}
.navSplit:hover{
  background-color: maroon;
  color: black;
}


/* Links inside the navbar */
nav a {
  height:12%;
  display: flex;
  flex-direction: column;
  color: var(--fontCol1);
  text-align: center;
  padding: 6vh 0 0 0 ;
  text-decoration: none;
  justify-content: space-between; 
}

/* Change background on mouse-over */
nav a:hover {
  background: var(--highlightCol1);
  color: var(--fontCol1);
  transition: .5s;
}

nav a:active{
  background-color: var(--clickCol1);
  color: var(--fontCol1);
}


section {
/*  padding-left: 1vh;*/
  height: 100vh;
  box-sizing: border-box;
  min-height: fit-content;
  color: white;
}

.section-container {
  display: flex;
}


